.one{
  padding: 20px;
}
}
p{
  color: orange;
  padding: 20px;
  font-size: 20px;
}
.three{
  background: #303c51;
  min-height: 200px;
  color:#fff;
}
.all{
  margin-top: 20px;
}
.four{
  background: #303c51;
  min-height: 200px;
}

.six{
  background: #303c51;
  min-height: 200px;
}
